In [ ]:
s = "hello"
reversed_s = s[::-1]
print(reversed_s)

olleh

In [ ]:
s = input("Enter a string: ")
print(s == s[::-1])

Enter a string: Tanishk
False

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

num = int(input("Enter a number: "))
print(factorial(num))

Enter a number: 5
120

In [ ]:
n = int(input("Enter the number of terms: "))
a, b = 0, 1
i = 0
while i < n:
    print(a, end=" ")
    a, b = b, a + b
    i += 1

Enter the number of terms: 2
0 1

In [ ]:
n = int(input("Enter a number: "))
if n < 2:
    print("Not prime")
else:
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            print("Not prime")
            break
    else:
        print("Prime")

Enter a number: 7
Prime

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
while b != 0:
    a, b = b, a % b
print("GCD is", a)

Enter first number: 2
Enter second number: 3
GCD is 1

In [ ]:
s = input("Enter a string: ")
count = 0
for char in s.lower():
    if char in "aeiou":
        count += 1
print("Number of vowels:", count)

Enter a string: Tanishk
Number of vowels: 2

In [ ]:
lst = input("Enter elements separated by spaces: ").split()
duplicates = set()
seen = set()

for x in lst:
    if x in seen:
        duplicates.add(x)
    else:
        seen.add(x)

print("Duplicate elements:", duplicates)

Enter elements separated by spaces: k a n a k
Duplicate elements: {'k', 'a'}

In [ ]:
s1 = input("Enter first string: ").replace(" ", "").lower()
s2 = input("Enter second string: ").replace(" ", "").lower()

print(sorted(s1) == sorted(s2))

Enter first string: Tanishk
Enter second string: Lakshay
False

In [ ]:
a = list(map(int, input("Enter first sorted array: ").split()))
b = list(map(int, input("Enter second sorted array: ").split()))

merged = []
i = j = 0

while i < len(a) and j < len(b):
    if a[i] < b[j]:
        merged.append(a[i])
        i += 1
    else:
        merged.append(b[j])
        j += 1

merged.extend(a[i:])
merged.extend(b[j:])

print("Merged array:", merged)

Enter first sorted array: 3 4 5 3
Enter second sorted array: 2
Merged array: [2, 3, 4, 5, 3]

In [ ]:
n = int(input("Enter the value of n: "))
arr = list(map(int, input("Enter the numbers separated by spaces: ").split()))

total = n * (n + 1) // 2
missing = total - sum(arr)
print("Missing number is", missing)

Enter the value of n: 50
Enter the numbers separated by spaces: 5
Missing number is 1270

In [ ]:
n = input("Enter a number: ")
num = int(n)
power = len(n)
total = sum(int(digit) ** power for digit in n)

print(total == num)

Enter a number: 5
True

In [1]:
s = "The quick brown fox jumps over the lazy dog"
s = s.lower()
letters = set(s)
print(set("abcdefghijklmnopqrstuvwxyz").issubset(letters))

True

In [6]:
lst = list(map(int, input("Enter numbers: ").split()))
unique_lst = list(set(lst))
print(unique_lst)

Enter numbers: 4 5  6 4 5
[4, 5, 6]

In [7]:
lst = list(map(int, input("Enter numbers separated by space: ").split()))
lst = list(set(lst))
lst.sort()
print(lst[-2])

Enter numbers separated by space: 3 4 5 6 7
6

In [8]:
lst = list(map(int, input("Enter numbers separated by space: ").split()))
counts = {}
for num in lst:
    counts[num] = counts.get(num, 0) + 1
print(counts)

Enter numbers separated by space:  4 5 6 7 2 5
{4: 1, 5: 2, 6: 1, 7: 1, 2: 1}

In [9]:
rows = int(input("Enter number of rows: "))
cols = int(input("Enter number of columns: "))
matrix = []

for i in range(rows):
    row = list(map(int, input().split()))
    matrix.append(row)

transpose = []
for i in range(cols):
    trans_row = []
    for j in range(rows):
        trans_row.append(matrix[j][i])
    transpose.append(trans_row)

print(transpose)

Enter number of rows: 3
Enter number of columns: 3
1 2 3
4 5 6
2 3 5
[[1, 4, 2], [2, 5, 3], [3, 6, 5]]

In [10]:
lst = list(map(int, input("Enter numbers separated by space: ").split()))
target = int(input("Enter the number to search: "))

found = False
for i in range(len(lst)):
    if lst[i] == target:
        print("Found at index", i)
        found = True
        break

if not found:
    print("Not found")

Enter numbers separated by space: 2 3 4
Enter the number to search: 2
Found at index 0

In [11]:
lst = list(map(int, input("Enter sorted numbers separated by space: ").split()))
target = int(input("Enter the number to search: "))

low, high = 0, len(lst) - 1
found = False

while low <= high:
    mid = (low + high) // 2
    if lst[mid] == target:
        print("Found at index", mid)
        found = True
        break
    elif lst[mid] < target:
        low = mid + 1
    else:
        high = mid - 1

if not found:
    print("Not found")

Enter sorted numbers separated by space: 2 3 4
Enter the number to search: 4
Found at index 2

In [12]:
lst1 = list(map(int, input("Enter first list numbers separated by space: ").split()))
lst2 = list(map(int, input("Enter second list numbers separated by space: ").split()))
intersection = list(set(lst1) & set(lst2))
print(intersection)

Enter first list numbers separated by space: 1 2 3 4
Enter second list numbers separated by space: 5 6 7 8
[]

In [14]:
nested_list = eval(input("Enter nested list: "))
flat_list = []

def flatten(lst):
    for i in lst:
        if isinstance(i, list):
            flatten(i)
        else:
            flat_list.append(i)

flatten(nested_list)
print(flat_list)

Enter nested list: [1, 2, [3, 4], [5, [6, 7]], 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
start = int(input("Enter start of range: "))
end = int(input("Enter end of range: "))

for num in range(start, end + 1):
    digits = list(map(int, str(num)))
    power = len(digits)
    if sum(d ** power for d in digits) == num:
        print(num)

Enter start of range: 1
Enter end of range: 5
1
2
3
4
5

In [16]:
s = input("Enter a string: ")
words = s.split()
print(len(words))

Enter a string: Tanishk
1

In [17]:
s = input("Enter a string: ")
result = ""
count = 1

for i in range(1, len(s) + 1):
    if i < len(s) and s[i] == s[i - 1]:
        count += 1
    else:
        result += s[i - 1] + str(count)
        count = 1

print(result)

Enter a string: Tanishk
T1a1n1i1s1h1k1

In [18]:
n = int(input("Enter number of rows: "))
for i in range(n):
    row = [1]
    for j in range(1, i):
        row.append(prev_row[j-1] + prev_row[j])
    if i > 0:
        row.append(1)
    print(*row)
    prev_row = row

Enter number of rows: 2
1
1 1

In [20]:
lst = list(map(int, input("Enter numbers: ").split()))
counts = {}
for num in lst:
    counts[num] = counts.get(num, 0) + 1

majority = None
for num, count in counts.items():
    if count > len(lst) // 2:
        majority = num
        break

if majority is not None:
    print(majority)
else:
    print("No majority element")

Enter numbers: 1 2 3 4
No majority element

In [22]:
lst = list(map(int, input("Enter numbers: ").split()))
result = [x for x in lst if x != 0] + [0] * lst.count(0)
print(result)

Enter numbers: 1 2 3 4
[1, 2, 3, 4]

In [ ]:
stack = []

while True:
    op = input("Enter operation (push/pop/quit): ")
    if op == "push":
        val = input("Enter value to push: ")
        stack.append(val)
        print(stack)
    elif op == "pop":
        if stack:
            print("Popped:", stack.pop())
            print(stack)
        else:
            print("Stack is empty")
    elif op == "quit":
        break
    else:
        print("Invalid operation")

Enter operation (push/pop/quit): Push
Invalid operation
Enter operation (push/pop/quit): push
Enter value to push: 2
['2']
Enter operation (push/pop/quit): push
Enter value to push: 4
['2', '4']
Enter operation (push/pop/quit): pop
Popped: 4
['2']
Enter operation (push/pop/quit): 2
Invalid operation

In [ ]:
lst = list(map(int, input("Enter list elements ").split()))
k = int(input("Enter number of rotations: "))
k = k % len(lst)
rotated = lst[-k:] + lst[:-k]
print(rotated)

In [ ]:
lst = list(map(int, input("Enter list elements: ").split()))
if all(lst[i] <= lst[i+1] for i in range(len(lst)-1)):
    print("List is sorted")
else:
    print("List is not sorted")